:root {
  --secondary-text: gray;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  background: white;
  height: 85px;
  display: flex;
  padding: 0 10%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
}

.navbar > h1 {
  font-size: 20px;
  font-weight: bolder;
}

.nav-item {
  display: flex;
  gap: 30px;
}

.hero-container {
  display: flex;
  height: 470px;
  background-color: white;
  padding: 0 10%;
  margin: 20px 0;
}

.hero-container > div > div > h1 {
  font-size: 60px;
}

.hero-container > div {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-container > h1 {
  font-size: 100px;
  width: 360px;
  font-weight: bolder;
}

.hero-container p {
  font-size: 16px;
  color: var(--secondary-text);
}

.hero-container > img {
  width: 40%;
  height: 400px;
  width: 380px;
  align-self: center;
}

.about {
  color: white;
  background-color: #ad5d52;
  height: 600px;
  margin: 40px 0 0 0;
  padding: 0 10%;
  display: flex;
}

.about > div {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about h1 {
  font-size: 60px;
}

.about > img {
  width: 40%;
  object-fit: cover;
}

.portfolio {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  padding: 0 10%;
  height: 720px;
  justify-content: center;
  align-self: center;
}

.portfolio .intro {
  justify-content: center;
  align-self: center;
}

.portfolio .intro h1 {
  font-size: 60px;
}

.portfolio-content {
  height: 620px;
  margin: 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.2);
  border-radius: 15px 15px;
}

.card > img {
  object-fit: cover;
  height: 240px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.card > .card-body {
  padding: 20px;
}

.card h3 {
  font-size: 20px;
  margin: 0 15px 0 0;
}

.card p {
  color: var(--secondary-text);
  font-size: 14px;
}

.card > .card-footer {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
}

.blog {
  background-color: #ad5d52;
  display: flex;
  padding: 0 10%;
  margin: 40px 0 0 0;
  height: 690px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.2);
}

.blog > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
  display: flex;
  margin: 40px 0;
}

.blog h1 {
  font-size: 50px;
}

.blog > img {
  width: 500px;
  height: 500px;
  align-self: center;
}

.blog-footer {
  display: flex;
  flex-direction: column;
}

footer {
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: white;
}

/* utils */
.active {
  color: #ad5d52;
  font-weight: bold;
}

.btn-primary {
  font-family: "Poppins", sans-serif;
  background: #ad5d52;
  outline: none;
  border: none;
  padding: 15px 20px;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 200px;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
  cursor: pointer;
}

.btn-primary:hover {
  box-shadow: 0 0px 20px 0 rgba(1, 1, 1, 0.1);
  background-color: #a77e79;
  color: #ffffff;
  font-weight: bold;
}

.btn-secondary {
  font-family: "Poppins", sans-serif;
  background: #7c2c25;
  outline: none;
  border: none;
  padding: 15px 20px;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 200px;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
  justify-content: center;
  align-self: center;
}

.btn-secondary:hover {
  font-family: "Poppins", sans-serif;
  background: #a77e79;
  outline: none;
  border: none;
  padding: 15px 20px;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 200px;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
}

.articles-container {
  margin: 40px 40px 40px 40px;
  display: flex;
  flex-direction: row;
  /* background: red; */
  margin: 0 0 40px 0;
  padding: 0 10%;
  height: 800px;
}

.articles-container .main {
  height: fit-content;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.2);
  border-radius: 7px;
  padding: 15px 15px;
  width: 50%;
  margin: 40px 15px;
}

.articles-container .main > img {
  height: 400px;
  width: 100%;
}

.articles-container .main > h1 {
  font-size: 30px;
}

.articles-container .main > p {
  font-size: 14px;
}

.article-card {
  /* background: green; */
  margin: 10px;
  display: flex;
  flex-direction: row;
  height: 170px;
  width: 600px;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.2);
  border-radius: 7px;
  padding-right: 5px;
}

.article-header-card {
  /* background: green; */
  margin: 40px 0 0 10px;
  height: 30px;
  width: 600px;
}

.article-card > img {
  height: 100%px;
  border-radius: 7px;
  padding-right: 10px;
}

.article-card > div > div > h3 {
  font-size: 16px;
  /* background: yellow; */
}

.article-card > div > div > p {
  font-size: 12px;
  color: var(--secondary-text);
}

.article-card > div > div .btn-primary:hover {
  box-shadow: 0 0px 20px 0 rgba(1, 1, 1, 0.2);
  background-color: #a77e79;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

/* ============================================================================================================= */
/* SINGLE BLOG */
.single-blog-container {
  display: flex;
  flex-direction: column;
  height:fit-content;
  justify-content: center;
  align-self: center;
  margin: 40px 20% 40px 20%;
  padding: 20px 40px 20px 40px;
  box-shadow: 0 0px 20px 0 rgba(1, 1, 1, 0.1);
  border-radius: 7px;
}

.title {
  text-align: center;
}

.single-blog-container > div > img {
  text-align: center;
}

.single-blog-container > div > p {
  font-size: 14px;
  color: var(--secondary-text);
}

.small-desc {
  font-size: 12px;
  color: whitesmoke;
}

.small-desc-light {
  font-size: 12px;
  color: gray;
}
